.barcontainer {
  position: relative;
  height: 50px;
  border-radius: 25px;
  background-color: #eae3cc;
  overflow: hidden;

  .progress {
    background-color: #e9bb47;
    width: 50%;
    height: 100%;
    border-radius: 25px;
  }
}